build*/
Build*/
out*/
bin/

*.exe
*.out
*.app
*.dll
*.so
*.a
*.o
*.obj

*.autosave
*.user
*.user.*
*.pro.user
*.qmlproject.user
*.pro.user.*
*.qbs.user
*.qbs.user.*

Makefile*
CMakeFiles/
CMakeCache.txt
cmake_install.cmake_